<div class="footer-wrapper">
  <div class="footer-wrapper__link">
    <a routerLink="/about">About us</a>
    <a routerLink="/delivery">Delivery Information</a>
    <a routerLink="/return-exchange">Return & Exchange</a>
    <a routerLink="/policy">Privacy Policy</a>
  </div>
  <div class="footer-wrapper__social">
    <p-button
      icon="pi pi-facebook"
      styleClass="p-button-rounded"
      routerLink="https://www.facebook.com/GetzGroupVietnam/"
    ></p-button>
    <p-button
      icon="pi pi-twitter"
      styleClass="p-button-rounded"
      routerLink="https://www.facebook.com/GetzGroupVietnam/"
    ></p-button>
    <p-button
      icon="pi pi-youtube"
      styleClass="p-button-rounded"
      routerLink="https://www.facebook.com/GetzGroupVietnam/"
    ></p-button>
    <p-button
      icon="pi pi-google"
      styleClass="p-button-rounded"
      routerLink="https://www.facebook.com/GetzGroupVietnam/"
    ></p-button>
  </div>
  <div class="footer-wrapper__powered">
    ©2023 Thang Tran World. Powered by Getz
  </div>
</div>
