.footer-wrapper {
    color: var(--primary-color-text);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;

    &__link {
        display: flex;
        flex-direction: row;
        gap: 1em;
        font-size: 1rem;
        font-weight: 700;

        &--text {
            color: var(--primary-color-text);
        }
    }

    &__social {
        display: flex;
        flex-direction: row;
        gap: 1em;
    }
}