.loading-container {
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(67, 61, 61, 0.7);
    z-index: 9999;
  }