:host ::ng-deep .pi-eye,
.pi-eye-slash {
  transform: scale(1.6);
  margin-right: 1rem;
  color: var(--primary-color) !important;
}

.sign-in__frame {
  border-radius: 56px;
  padding: 0.3rem;
  background: linear-gradient(
    180deg,
    var(--primary-color) 10%,
    rgba(33, 150, 243, 0) 30%
  );
}
