<div class="card p-1 bg-primary">
  <p-panel>
    <ng-template pTemplate="header">
      <div class="flex flex-column gap-2 w-full">
        <div
          class="flex flex-row align-items-center justify-content-between gap-2 w-full"
        >
          <div
            class="flex flex-row align-items-center justify-content-between gap-2"
          >
            <i class="pi pi-shopping-cart"></i>
            <span class="text-color text-xl">Dine in</span>
          </div>
          <p-button
            label="Select other services"
            icon="pi pi-search"
            [loading]="loading"
            (onClick)="selectServices()"
          >
          </p-button>
        </div>
        <div class="panel-header__title">
          <div class="flex flex-row align-items-center gap-2">
            <div class="panel-body__title--icon">
              <i class="pi pi-map-marker"></i>
            </div>
            <div
              class="flex flex-column align-items-start gap-2 panel-header__title--content"
            >
              <div class="text-color panel-header__title--name">
                Duy Tran @ Kovan Branch Da Nang Viet Nam
              </div>
              <div class="text-color panel-header__title--address">
                461B Bukit Batok West Ave 8, 318990, Singapore
              </div>
            </div>
            <div class="panel-header__title--action">
              <button
                pButton
                pRipple
                type="button"
                icon="pi pi-pencil"
                class="p-button-rounded p-button-text"
              ></button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="content">
      <div class="flex flex-column gap-2 cart-container horizontal-scroll px-3">
        <p-panel [toggleable]="true" [collapsed]="true" icons="pi-chevron-up">
          <ng-template pTemplate="header">
            <span>Rewards</span>
          </ng-template>
          <ng-template pTemplate="content">
            <app-reward-item></app-reward-item>
            <p-divider></p-divider>
            <app-reward-item></app-reward-item>
            <p-divider></p-divider>
            <app-reward-item></app-reward-item>
          </ng-template>
        </p-panel>
        <p-panel>
          <ng-template pTemplate="header">
            <div
              class="flex flex-row align-items-center justify-content-between gap-2 w-full"
            >
              <span>Item(s) added</span>
              <button
                pButton
                pRipple
                type="button"
                label="Clear items"
                class="p-button-success p-button-text"
              ></button>
            </div>
          </ng-template>
          <ng-template pTemplate="content">
            <app-cart-item></app-cart-item>
            <p-divider></p-divider>
            <app-cart-item></app-cart-item>
            <p-divider></p-divider>
            <app-cart-item></app-cart-item>
          </ng-template>
        </p-panel>
      </div>
    </ng-template>
    <ng-template pTemplate="footer">
      <div class="panel-footer">
        <p-button
          label="Checkout"
          icon="pi pi-search"
          [loading]="loading"
          (onClick)="load()"
        >
        </p-button>
      </div>
    </ng-template>
  </p-panel>
</div>
<app-dialog-frame>
    <div body>
        <app-select-service></app-select-service>
    </div>
</app-dialog-frame>
