<div class="home-container horizontal-scroll px-3">
  <div class="grid">
    <div class="col-12">
      <app-slide [slides]="slideHeaders"></app-slide>
    </div>
    <div class="col-12 md:col-8">
      <div class="grid">
        <div class="sm:col-12 md:col-6 lg:col-4">
          <app-category-card></app-category-card>
        </div>
        <div class="sm:col-12 md:col-6 lg:col-4">
          <app-category-card></app-category-card>
        </div>
        <div class="sm:col-12 md:col-6 lg:col-4">
          <app-category-card></app-category-card>
        </div>
        <div class="sm:col-12 md:col-6 lg:col-4">
          <app-category-card></app-category-card>
        </div>
      </div>
    </div>
    <div class="col-12 md:col-4">
      <app-my-cart></app-my-cart>
    </div>
  </div>
</div>
