<div class="home-container horizontal-scroll px-3">
  <div class="grid">
    <div class="col-12">
      <app-slide [slides]="slideHeaders"></app-slide>
    </div>
    <div class="col-12 md:col-8">
      <div class="grid category-container">
        <div class="sm:col-12 md:col-6 lg:col-4">
          <app-category-card description="Lorem ipsum dolor sit amet consectetur adipiscing, elit velit cras himenaeos eros fringilla rutrum, class odio habitant platea metus. Bibendum ultricies aliquam sem tristique mattis vel penatibus lacus dignissim, nisi ullamcorper vitae a massa elementum habitasse ut, proin nam tellus dapibus porta turpis odio cursus"></app-category-card>
        </div>
        <div class="sm:col-12 md:col-6 lg:col-4">
          <app-category-card description="Bibendum ultricies aliquam sem tristique mattis vel penatibus lacus dignissim, nisi ullamcorper vitae a massa elementum habitasse ut, proin nam tellus dapibus porta turpis odio cursus"></app-category-card>
        </div>
        <div class="sm:col-12 md:col-6 lg:col-4">
          <app-category-card description="Lorem ipsum dolor sit amet consectetur adipiscing, elit velit cras himenaeos eros fringilla rutrum"></app-category-card>
        </div>
        <div class="sm:col-12 md:col-6 lg:col-4">
          <app-category-card description="Lorem ipsum dolor sit amet consectetur adipiscing, elit velit cras himenaeos eros fringilla rutrum, class odio habitant platea metus"></app-category-card>
        </div>
      </div>
    </div>
    <div class="col-12 md:col-4">
      <app-my-cart></app-my-cart>
    </div>
  </div>
</div>
