<div class="service-card-container cursor-pointer" (click)="onChangeBranch(branch.id)">
  <div
    class="card"
    [ngClass]="{ 'border-primary-500 bg-blue-50': branch.id === select }"
  >
    <div class="flex flex-row align-items-center gap-4 service-card-wrapper">
      <div class="service-card__img">
        <i class="pi pi-building"></i>
      </div>
      <div class="flex flex-column gap-4 service-card__content">
        <div class="service-card__title">
          <strong>{{branch.name}}</strong>
        </div>
        <div class="service-card__address">
          <address>{{branch.address}}</address>
        </div>
      </div>
    </div>
  </div>
</div>
